---
layout: base
---

{% include header.html type="page" %}

<div class="container">
  <div class="row">
    <div style="width: 100%">

        {% for conf in page.conferences %}
        <p class="talk-meta">{{ conf.date | date: "%B %-d, %Y" }} - {{conf.name}} </p>
        {% endfor %}

      <article role="main" class="blog-post">
	      {{ content }}
	    </article>

      {% for url in page.slideurl %}
        <div style="text-align:center">
          <iframe src="{{ url }}"
            width="595"
            height="485"
            frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen>
          </iframe>
        </div>
      {% endfor %}

      <br />

      {% include signature.html %}

	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	    {% endif %}
    </div>
  </div>


</div>
